/*----- Button -----*/
.Button{}
.Button_Style{}
/*----- Button_End -----*/

/*----- InputBox -----*/
.TextField{}
.TextField_Style{ border:1px solid #cccccc; background-color:#f5f5f5;}
.TextArea{}
.TextArea_Style{ border:1px solid #cccccc;}
.TextSelect{}
.TextSelect_Style{}
/*----- InputBox_End -----*/

/*----- Tag -----*/
.Tag_Body{}
.Tag_Left{ height:100%; width:90px; float:left; margin:2px; padding-top:3px;text-align:right; color:#aaaaaa;}
.Tag_Right{ margin:2px; margin-left:95px;}
.Tag_Form{}
.Tag_Notice{margin:2px 0px 2px 0px; margin-left:0px !important; margin-left:3px; color:#888888;}
.Tag_Content{ background-color:#ffffdd; margin-left:0px !important; margin-left:3px; height:100%; overflow:auto; padding:5px;}
	.Tag_Content a{ margin:3px; padding:3px; line-height:18px;}
	.Tag_Content a:hover{ color:#ff6600; margin:3px; padding:3px;}
/*----- Tag_End -----*/


/*----- Link -----*/
a:link,a:visited{text-decoration:none;color:#333333;}
a:hover{text-decoration:underline;color:#888888;}

.Link_Bold:link{text-decoration:none;color:#888888; font-weight:bold;}
.Link_Bold:visited{text-decoration:none;color:#888888; font-weight:bold;}
.Link_Bold:hover{text-decoration:underline;color:#333333; font-weight:bold;}
/*----- Link_End -----*/

/*----- Text -----*/
.Text_Ps{ color:#888888;}
.Text_En{ font-family:Arial, Helvetica, sans-serif;}
.Text_Notice{ color:#ff6600;}
/*----- Text_End -----*/
.Text_U{font:Verdana, Arial, Helvetica, sans-serif; color:#FF9900; font-weight:bold;}
