/*----- Overall -----*/
Body{ font-size: 12px; background-color:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif;}
/*----- Overall_End -----*/

/*----- Body_Head -----*/
.Body_Head_Style{ background-color:#f2f2f2;width:1003px; margin-left:auto; margin-right:auto;}
	.Body_Head_Top_Style{ background-image:url(../images/top_bg.gif);height:80px;}
		.Body_Head_Title_Style{float:left;}
			.Body_Head_Logo_Style{float:left; width:50px;}
			.Body_Head_Title_Right_Style{float:left; width:auto;}
				.Body_Head_Title_Text_Style{ font-size:20px;margin-top:20px;}
				.Body_Head_Title_Text2_Style{ font-size:12px;color:#666666; }
				.Body_Head_Title_WebAdd_Style{ color:#888888;margin-top:-7px !important; margin-top:-12px;}
		.Body_Head_Top_Menu_Style{background-color:#ffffff;float:right; margin:5px !important; margin-right:3px; padding:5px 6px 2px 6px;}
	.Menu_Style{border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background-color:#ffffff;height:28px;}
		.Menu_button_Style{margin-left:25px;}
			.Menu_button_Style ul{margin:0px; padding:0px; list-style-type:none;}
				.Menu_button_Style li{float:left; padding:8px 15px 0px 15px;}
		
/*----- Body_Head_End -----*/
/*----- Body_Middle -----*/
	.Body_Middle_Style{width:1003px; margin-left:auto; margin-right:auto;}
	.Body_Middle_Left_Style{ width:200px; float:left; margin:0px 10px 0px 10px !important; margin:0px 5px 0px 5px;}
	.Body_Middle_Middle_Style{margin:0px 220px 0px 220px !important; margin:0px 217px 0px 217px; height:100%;}
	.Body_Middle_Middle2_Style{margin:0px 10px 0px 220px !important; margin:0px 10px 0px 217px; height:100%;}
	.Body_Middle_Right_Style{width:200px; float:right; margin:-15px 10px 0px 0px !important; margin:0px 5px 0px 0px;}
	.Body_Middle_Block_Style{}
/*----- Body_Middle_End -----*/

/*----- Body_Bottom -----*/
.Body_Bottom_Margin_Style{height:15px; clear:both;}
.Body_Bottom_Style{border-top:1px solid #cccccc; background-color:#f2f2f2;width:1003px; height:au;margin-left:auto; margin-right:auto;}
.Body_Bottom_Menu_Style{ text-align:center; width:auto; margin-left:auto; margin-right:auto; padding:15px 0px 5px 0px;}
.Body_Bottom_Text_Style{ text-align:center;width:auto; margin-left:auto; margin-right:auto; padding:15px 0px 5px 0px;}
/*----- Body_Bottom_End -----*/

/*----- Box -----*/
.Box_Body_Style{}

	.Box_Title_Style{}
		.Box_Title_Left_Style{ border-left:1px solid #cccccc;border-top:1px solid #cccccc; background-color:#f2f2f2;}
		.Box_Title_Middle_Style{ border-top:1px solid #cccccc; background-color:#f2f2f2;}
		.Box_Title_Right_Style{ border-right:1px solid #cccccc;border-top:1px solid #cccccc; background-color:#f2f2f2;}

			.Box_Title_Text_Style{ font-weight:bold; color:#666666;}
			.Box_Title_Button_Style{}

	.Box_Middle_Style{border-left:1px solid #cccccc; border-right:1px solid #cccccc; color:#777777; line-height:145%;}
	.Box_Bottom_Style{}
		.Box_Bottom_Left_Style{ border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;}
		.Box_Bottom_Middle_Style{ border-bottom:1px solid #cccccc;}
		.Box_Bottom_Right_Style{ border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;}
/*----- Box_End -----*/

/*----- List -----*/
/*-- Diary_List --*/
.Diary_List_Style{}
	.Diary_List_Style ul{}
		.Diary_List_Style li{}
.Diary_Body_Style{}
	.Diary_Title_Style{ cursor:pointer;}
		.Diary_Title_Left_Style{ background-color:#f5f5f5;}
		.Diary_Title_Middle_Style{ background-color:#f5f5f5;}
		.Diary_Title_Right_Style{ background-color:#f5f5f5;}

		.Diary_Title_Text_Style{ font-size:14px; font-weight:bold; color:#666666;}
		.Diary_Title_Date_Style{ color:#999999;}
	.Diary_Content_Style{ line-height:145%;}
	.Diary_More_Style{}
	.Diary_Line_Style{background-color:#f5f5f5;}

.Diary_Bottom_Style{}
/*-- Diary_List_End --*/
/*-- Text_List --*/
.Text_Button_List_Style{}
	.Text_Button_List_Style ul{}
		.Text_Button_List_Style li{ border-bottom:1px solid #f2f2f2;}

.Text_List_Style{}
	.Text_List_Style ul{}
		.Text_List_Style li{}
		
.Text_List2_Style{}
	.Text_List2_Style ul{}
		.Text_List2_Style li{}
/*-- Text_List_End --*/

/*-- Picture_List --*/
.Picture_List_Style{}
	.Picture_List_Style ul{}
		.Picture_List_Style li{}
/*-- Picture_List_End --*/

/*----- List_End -----*/

/*----- Picture -----*/
.Picture_Style{ border:1px solid #cccccc;}
/*-- Member_Box --*/
.Member_Box_Style{}
.Member_Picture_Style{ border:1px solid #cccccc;}
.Member_Name_Style{ text-align:center;}
/*-- Member_Box_End --*/
/*----- Picture_End -----*/

/*----- Line -----*/
.Line_Style{ background-color:#f5f5f5;}
/*----- Line_End -----*/

/*----- Button -----*/
.Button_Icon_Right_Style{ background-image:url(../images/icon/icon_button_right.gif); background-repeat:no-repeat; background-position:right 7px; font-size:14px;}
.Button_Sec_Menu_Style{ font-size:13px;}

/*----- Button -----*/

/*----- Material -----*/
.Material_Name_Style{}
.Material_Text_Style{}
.Material_Button_Style{}
.Material_Button_Left_Style{}
.Material_Button_Right_Style{}
.Material_Button_Icon_Style{}
.Material_Mail_Style{}
.Material_Text2_Title_Style{}
.Material_Text2_Style{}
/*----- Material_End -----*/

/*----- PageNo -----*/
.PageNo_Style{}
	.PageNo_Style ul{}
		.PageNo_Style li{}
.PageNo_Bottom_Style{}
.PageNo_Button_Style{}
.PageNo_Box_Style{ border:1px solid #cccccc; background-color:#f5f5f5; text-align:center; color:#aaaaaa;}
.PageNo_Box_Selects_Style{ border:1px solid #ece686; background-color:#ffffdd; text-align:center; color:#888888;}
/*----- PageNo_End -----*/

/*----- Album -----*/
.Album_Loading_Style{border:1px solid #ece686; background-color:#ffffdd; text-align:center; color:#888888;}
.Album_List_Style{}
	.Album_List_Style ul {} 
		.Album_List_Style li { text-align:center; border: 1px solid #f2f2f2;}
		.Album_List_Style li a { background: #fafafa; color:#666666;}
		.Album_List_Style li a:hover { background: #ffffff; color:#000000;}
		.Album_List_Picture_Style{ border:1px solid #ffffff;}

.Picture_Title_Style{}
	.Picture_Title_Left_Style{}
	.Picture_Title_Middle_Style{}
		.Picture_Title_Text_Style{ text-align:center; font-size:16px; color:#666666; font-weight:bold;}
		.Picture_Title_Author_Style{ text-align:center; color:#aaaaaa;}
	.Picture_Title_Right_Style{}

.Picture_Show_Style{}
.Picture_Body_Style{}
.Picture_Botton_Style{ text-align:center; font-size:14px; font-weight:bold;}
.Picture_Botton_Pre_Style{ border:0px;}
.Picture_Botton_Next_Style{ border:0px;}
.Picture_SmallBotton_Pre_Style{ border:0px;}
.Picture_SmallBotton_Next_Style{ border:0px;}
/*----- Album_End -----*/

/*----- Article -----*/
.Article_Title_Style{}
	.Article_Title_Text_Style{text-align:center; font-size:16px; color:#666666; font-weight:bold;}
	.Article_Title_Date_Style{text-align:center; color:#aaaaaa;}
.Article_Text_Style { line-height:150%;}
.Article_Bottom_Style{}
/*----- Article_End -----*/

/*----- Button -----*/
.Button_Style{}
.Button_Style_Bak{ border-top:1px solid #cccccc; border-right:2px solid #666666;border-bottom:2px solid #666666;border-left:1px solid #cccccc;background-color:#f5f5f5; color:#000000;}
/*----- Button_End -----*/

/*----- Template -----*/
.Template_List_Style{}
	.Template_List_Style ul{}
		.Template_List_Style li{ text-align:center; border: 1px solid #f2f2f2;}
		.Template_List_Picture_Style{}
		
.Template_Title_Style{ background-image:url(../images/template_title_bg.gif);}
.Template_Type_Style{}
	.Template_Type_Style ul{}
		.Template_Type_Style li{ background-color:#f5f5f5; border:1px solid #eeeeee; border-bottom:0px;}
			.Template_Type_Style li a{ background:#f5f5f5; color:#aaaaaa !important; font-size:14px;}
			.Template_Type_Style li a:hover{ background:#ffffff; color:#333333 !important;}
		.Template_Type_Selects_Style{ color:#333333; background-color:#ffffff !important; border:1px solid #cccccc !important; border-bottom:1px solid #ffffff !important; font-size:14px;}
/*----- Template_End -----*/

/*----- Form -----*/
.Form_List_Style{}
	.Form_List_Style ul{}
		.Form_List_Style li{}
		.Form_Suggest_Style{ border:1px solid #ece686; background-color:#ffffdd; text-align:left; color:#888888; font-size:14px; font-weight:bold;}
		.Form_Notice_Style{}
			.Form_Notice_List_Style{}
				.Form_Notice_List_Style ul{}
				.Form_Notice_List_Style li{}
		.Form_Notice_Left_Style{}
		.Form_Notice_Right_Style{ border:1px solid #f2f2f2; text-align:center;}
	.Form_Title_Style{ border-bottom:1px solid #f2f2f2; font-size:14px; font-weight:bold;}
	.Form_Spacing_Style{}
	.Form_Volume_List_Style{}
	.Form_Volume_List_Style ul{}
		.Form_Volume_List_Style li{}

/*----- Form_End -----*/

/*----- ClassList -----*/

.ClassList_Style{ font-size:14px; border:1px solid #f2f2f2; border-top:3px solid #f2f2f2;}
	.ClassList_Style ul{}
	.ClassList_Style li{}
		.ClassList_No_Style{ text-align:center;}
		.ClassList_Title_Style{}
		.ClassList_Date_Style{ color:#cccccc;}
		.ClassList_Class_Style{ text-align:center;}
		.ClassList_Button_Style{}

/*----- ClassList_End -----*/

/*----- Detail-----*/
.Detail_Content_Text_Style{}
		.Detail_Content_Name_Style{ text-align:right; color:#333333;}
		.Detail_Content_Info_Style{ text-align:left;color:#666666;}

/*----- Detail_End-----*/

/*----- RightTop_Menu -----*/
.RightTop_Menu_Style{background-color:#ffffff; border:1px solid #cccccc;}
	.RightTop_Menu_Style ul{}
	.RightTop_Menu_Style li{ border-bottom:1px solid #f2f2f2;}
	.RightTop_Menu_Style li a{}
	.RightTop_Menu_Style li a:hover{ background-color:#f5f5f5; text-decoration:none;}

/*----- RightTop_Menu_End -----*/