<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!--密码加密密钥，长度至少大于5才有效,一经使用,不能修改,否则影响之前的加密数据-->
		<add key="PasswordKey" value="www.cyqdata.com"/>
		<!--虚拟目录名称，启用虚拟目录[即子目录]建站时设置-->
		<!--<add VirtualPathvalue="cyqdata/"/>-->
		<!--启用带后缀Url转向-->
		<!--<add key="UrlAspx" value=".shtml" />-->
		<!--Access数据库名称[带相对路径]-->
		<add key="AccessDbNameForWeb" value="App_Data/myspace.mdb" />
		<!--是否启用二级域名做为博客域名-->
		<!--<add key="Www" value="blog"/>-->
		<!--博客一级域名-->
		<add key="Domain" value="mycyqdata.com" />
		<!--开启页面级缓存-->
		<add key="PageCacheTime" value="3" />
		<!--是否记录数据库异常到表ErrorLogs-->
		<add key="IsWriteLog" value="true" />
		<!--数据库写日志失败时，转写txt文本的日志路径-->
		<add key="LogPath" value="Upload/Log/"/>
		<!--html实体解析dtd路径,路径定位，不用修改-->
		<add key="DtdUri" value="Setting/DTD/xhtml1-transitional.dtd" />
		<!--实体解析默认需要运行在完全信任主机上，如果虚拟主机运行IIS7中并设置为未完全信任环境，则开启文件加载方式-->
		<add key="UseFileLoadXml" value="true" />
	</appSettings>
	<connectionStrings>
		<!-- Access数据库链接示例-->
		<add name="Conn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}" providerName="System.Data.OleDb" />

	</connectionStrings>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
		<httpModules>
			<add name="UrlRewrite" type="CYQ.Data.UrlRewrite,UrlRewrite" />
		</httpModules>
	</system.web>
</configuration>