.deditorarea{font-size:12px;}
.deditor{height:auto; width:auto; border-bottom:1px #d4e5f8 solid; border-left:1px #B5D1F2 solid;border-right:1px #B5D1F2 solid;border-top:1px #B5D1F2 solid;}
.toolbar{height:29px; width:100%; float:left; padding:3px 0px 0px 0px;}
.contenttext{height:auto; width:100%; float:left; font-size:12px;}
.toolbar_start{float:left; padding:4px 2px 0px 2px;}
.toolbar_div{float:left;margin: 0 1px 0 1px;height:23px;}
.toolbar_ico{border:1px solid #7DACE3; width:21px; height:21px;}
.toolbar_ico2{border:1px solid #7DACE3; color:#BCE0F9; padding-top:21px; font: 0px/0px sans-serif;overflow: hidden;}
.toolbar_ico3{border:0px; color:#BCE0F9; padding-top:21px; font: 0px/0px sans-serif;overflow: hidden;}
.toolbar_ico_onmouseout{border:1px solid #7DACE3; width:21px; height:21px;}
.toolbar_ico_onmouseover{border:1px solid #578CC9; background:#DBEFFD; width:21px; height:21px;}
.toolbar_div select{border:1px solid #578CC9; background:#DBEFFD;}
.toolbar_text{font:Arial, Helvetica, sans-serif; font-size:12px;}
.toolbar_mode{background:#DBEFFD; height:27px;border-left:1px #B5D1F2 solid;border-right:1px #B5D1F2 solid;border-bottom:1px #B5D1F2 solid;}
.toolbar_mode_a{width:auto; height:auto; margin-top:1px; margin-left:4px; margin-right:4px; float:left; border:1px outset #bfd7f3; cursor:pointer;}
.toolbar_mode_b{width:auto; height:auto; margin-top:1px; margin-left:4px; margin-right:4px; float:left; border:1px inset #bfd7f3; cursor:pointer;}
.toolbar_mode_c{width:auto;margin-top:1px; margin-left:4px; margin-right:4px; float:right; padding-top:5px; cursor:pointer;}

.smiley_ico{margin:2px; cursor:pointer; border:1px solid #DBEFFD;}
.smiley_ico_onmouseover{margin:2px; cursor:pointer; border:1px #99CCFF solid;}
.smiley_ico_onmouseout{margin:2px; cursor:pointer; border:1px solid #DBEFFD;}
.upload_div{float:left; height:auto; width:auto; }
.upload_window{border-bottom:1px #7DACE3 solid; padding:2px 0px 2px 0px; background:#DBEFFD; width:100%; height:auto; float:left; margin-top:1px;margin-bottom:1px; font-size:12px;}
.upload_window input{border:1px #7DACE3 solid;}
.imgPreview{width:100%;height:100px;overflow:auto; float:left;}

.toolbarbg{height:24px; width:100%; float:left; font-size:12px; background:#DBEFFD;overflow: hidden; line-height:2em;}
.txtInput{border:1px solid #0099CC; height:19px;}
.toolbar_btn{border:0px; width:40px;height:19px;font: 0px/0px sans-serif; color:#bce2fc; overflow: hidden; text-indent: -80px; padding:5px 0px 0px 0px;}
.toolbar_btnSmiley{border:1px #7DACE3 solid; font: 0px/0px sans-serif; color:#bce2fc; overflow: hidden; text-indent: -80px; cursor:pointer;}