/* 全局css*/
*{ margin:0; padding:0;}
body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFF; height:auto;}
ul{ list-style:none;}
.clear{ clear:both;}
img{ border:0;}
a{ text-decoration:none; color:#000; }
p{ color:#000; font-family:"宋体",Arial, Helvetica, sans-serif; line-height:20px; }

/* 头部 css*/
#top{ background:url(../image/top_bj.gif) repeat-x; height:372px; }
.flash{ margin:0 auto; width:954px; height:298px; padding-top:38px;}
.menu{ margin:0 auto; width:954px; height:35px; background:url(../image/menu_bj.gif) repeat-x; }
.menu ul li{ float:left; width:106px; text-align:center; line-height:32px;}
.menu ul li a{font-size:14px; font-weight:bold; display:block;}
.menu ul li a:hover{ background:url(../image/menu_btn_hover.gif) repeat-x;}
.menu ul li a:active{ background:url(../image/menu_btn_hover.gif) repeat-x;}

/* 中间 css*/
#content_bj{
	width:100%;
	height:auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: url(../image/content_bj.gif);
	background-repeat: repeat-y;
	background-position: center center;
}
#content{ margin:0 auto; width:954px; height:auto;}

/* 中间左边 css*/
.c_left{ width:263px;  height:auto; float:left; margin-left:3px; margin-top:10px; }
/* 左边广告 css*/
.banner_pic{ background:url(../image/c_left_pic.gif) no-repeat; height:116px; margin:0 auto; width:256px;}
/* 左边联系我们 css*/
.contact{ width:245px; height:118px; padding-left:10px;  line-height:22px; background:url(../image/contact_pic02.gif) no-repeat right bottom; }
.contact p{ color:#666; font-weight:bold;}
/* 左边滚动文字 css*/
.scroll_title{ background:#f5f6ee; width:245px; height:35px; margin:0 auto;}
.scroll_title a{  float:right; padding:10px; font-size:12px; font-weight:bold;}
#demo a{background:#f5f6ee; color:#333; width:245px; display:block;}
#demo a:hover{background:#f5f6ee;color: #C00;width:245px;}
#demo ul{text-align: left; }
#demo li a{line-height:24px; padding-left:10px;background:#f5f6ee  no-repeat 0 50%;  }
#FGWrapper{width: 245px; margin:0 auto; background:#EEE;}
#demo{overflow:hidden; width: 245px;height: 180px; background:#FFF;margin: 0 9px 0 9px;float: left;display: inline;}
#desc{ font-size: 10px; padding:0 10px 10px; clear:both;text-align:left;}
#copyright{float: right;}
h1{ font-size:12px; color:#930; font-weight:bold; padding:10px; float:left;}

/* 左边友情链接 css*/
.logo{ background:#f5f6ee; width:245px; height:auto; margin:0 auto;  text-align:center;  }
.logo img{ width:176px; height:55px; margin-bottom:30px; padding:3px; border:#CCC 1px solid;}


/* 中间右边 css*/
.c_right{ height:auto; float:left; width:660px;padding-left:10px; margin-right:5px;margin-top:10px;valign:top;  }
/**新闻**/
.news{ border-bottom:#CCC 1px dashed; padding-bottom:3px; margin:0 auto; padding-left:15px; padding-top:8px;}
.newsnav{ width:380px; margin-left:15px; float:left; margin-top:10px;}		 		
.title_news{ height:26px; font-weight:bold; font-size:14px;color:#930;}
.newsnav ul li{ height:22px; line-height:20px; color:#000; font-size:12px;} 
.newsnav ul li span{ margin-left:10px; color:#333;}  

/**焦点图片**/
#fade_focus{ float:left; width:225px; height:180px;}

/**石材**/
.shicai{border-bottom:#CCC 1px dashed; padding-bottom:10px; margin:0 auto; padding-top:5px;}
.box01{ width:210px; line-height:20px; border-right:#CCC 1px dashed; margin:2px; float:left;}
.box01_title{ font-size:12px; font-weight:bold; color:#930;}
.box01 li{ width:170px; padding-left:20px; }
.box02{ width:210px; line-height:20px; border-right:#CCC 1px dashed; margin:5px;float:left;}
.box02_title{ font-size:12px; font-weight:bold; color:#930;}
.box02 li{ width:170px; padding-left:20px; }
.box03{ width:210px; line-height:20px;  margin:5px;float:left;}
.box03_title{ font-size:12px; font-weight:bold; color:#930;}
.box03 li{ width:170px; padding-left:20px; }

/**图片滚动**/
.pic_title{padding-bottom:10px; margin:0 auto; padding-top:5px; padding-left:5px; font-size:12px; font-weight:bold; color:#930; height:170px;}
#scroll_div{ line-height:22px; text-align:center; margin:0 auto;}
#scroll_div img{ padding:3px; border:#CCC 1px solid; }
#scroll_div a{ text-align:center; margin:0 auto;}

/**页脚**/
.f_box01{ background:url(../image/footer_bj.gif) repeat-x; height:44px; margin:0 auto; width:950px; text-align:center;  line-height:44px;}
.f_box02{ background:url(../image/footer_bj.gif) repeat-x; border-bottom:#CCC 1px dashed;height:64px; margin:0 auto; width:950px; text-align:center;  line-height:44px;}

/**内页公共部分**/
.menu_left ul{ padding-top:5px;}
.menu_left li{ border-bottom:#CCC 1px dashed; line-height:24px; padding-left:20px;}

/**公司简介**/
/**内页公共头**/.about_title{ border-bottom:#a0d525 3px solid; line-height:22px; color:#930; font-weight:bold; font-size:14px;}
.about_pic{ margin:5px 10px 5px 20px;width:}
.about_word{ width:630px; height:auto; background:#f5f6ee; margin-top:10px; padding:10px; line-height:22px;}
.about_pic2{ text-align:center; line-height:24px; font-size:14px; padding-top:20px; padding-bottom:8px;}

/**公司荣誉**/
.honor ul{float:left;}
.honor li{ width:187px; height:auto; float:left; margin:10px;}
.honor li img{ padding:3px; border:#CCC 1px solid; width:180px; height:auto;}
.honor li span{ line-height:22px; color:#666; }

/**公司动态**/
.newslist{margin:10px;}
.newslist ul li{ height:30px; line-height:30px; border-bottom:#CCC 1px dashed;}
.newslist ul li a{display:block;}
.newslist ul li .aa{ background:url(../image/n_liat_icon.gif)  no-repeat left; float:left; width:520px; height:30px; padding-left:15px;}
.newslist ul li .bb{color:#93A8BA;float:left;text-align:right;width:100px;}

/**公司证书**/
.about_word ul{ background:#f5f6ee;}
.about_word li{ float:left;  margin:5px; text-align:center; width:140px;}
.about_word li img{padding:3px; border:#CCC 1px solid;}

/**产品介绍**/
.p_list ul{ background:#f5f6ee; height:auto;}
.p_list li{ float:left;   margin:10px; width:131px; height:auto; text-align:center; line-height:20px;}
.p_list li a:hover{color:#C00;} 
.p_list li img{border:#ccc 1px solid;padding:3px;}

/**产品介绍**/
.j_table{ margin:10px; background:#f5f6ee;  line-height:22px;}

/**联系方式**/
.c_con{ margin:10px;}
.c_con img{ float:left;}
.inline{ margin:20px 10px 10px 30px;}

/**订购产品**/
.dinggou img { padding:3px; border:#CCC 1px solid; margin:10px;}
.dinggou li{ width:231px; text-align:center; float:left; padding-bottom:20px; }
.dinggou p{ width:390px; float:right; padding-top:80px;}
.dinggou2{ height:30px; background:#ebf7d0; line-height:20px; text-align:center;}
.inline{ line-height:22px;}

/**online产品**/
.about_word2{ width:660px; padding-bottom:20px;}
.about_word2 ul{ background:#f5f6ee; }
.about_word2 li{ float:left;  margin:5px; text-align:center; width:200px; height:170px; line-height:22px;}
.about_word2 li img{padding:3px; border:#CCC 1px solid;}
.about_word3{ width:660px; padding-bottom:20px; margin:0 auto;}
.about_word3 ul{  padding-top:10px; padding-bottom:10px; margin:0 auto;}
.about_word3 li{ float:left;  margin:2px; text-align:center; width:150px; height:180px; line-height:22px;}
