/*----- Overall -----*/
Body{ height:100%; margin:0px; padding:0px;}
Form{margin:0px; padding:0px; border:0px;}
/*----- Overall_End -----*/

/*----- Body_Head -----*/
		.Menu_button{margin-left:25px;}
			.Menu_button ul{ margin:0px; padding:0px; list-style-type:none;}
				.Menu_button li{ float:left; padding:8px 15px 0px 15px;}
.Body_Middle_Middle2{margin:0px 10px 0px 220px !important; margin:0px 10px 0px 217px; height:100%;}
/*----- Body_Middle_End -----*/

/*----- Box -----*/
.Box_Body{ margin-top:15px;}

	.Box_Title{}
		.Box_Title_Left{ margin-right:0px !important; margin-right:-3px; width:4px; height:24px; float:left;}
		.Box_Title_Middle{ height:24px; margin:0px 4px 0px 4px !important; margin:0px 1px 0px 1px;}
		.Box_Title_Right{margin-left:0px !important; margin-left:-3px; width:4px; height:24px; float:right;}

			.Box_Title_Text{ float:left; width:auto; margin:6px 0px 0px 5px !important; margin:6px 0px 0px 2px;}
			.Box_Title_Button{ float:right; width:auto; margin:4px 5px 0px 0px !important; margin:4px 2px 0px 0px;}

	.Box_Middle{ padding:8px 8px 0px 8px !important; padding:8px 8px -15px 8px;}
	.Box_Bottom{ margin-top:0px !important;margin-top:-7px}
		.Box_Bottom_Left{ margin-right:0px !important; margin-right:-3px; width:4px; height:5px; float:left;}
		.Box_Bottom_Middle{ height:5px; margin:0px 4px 0px 4px !important; margin:0px 1px 0px 1px;}
		.Box_Bottom_Right{ margin-left:0px !important; margin-left:-3px; width:4px; height:5px; float:right;}
/*----- Box_End -----*/

/*----- List -----*/
/*-- Diary_List --*/
.Diary_List{padding:8px 8px 8px 5px; height:100%; overflow:auto;}
	.Diary_List ul{ margin:0px; padding:0px; list-style-type:none;}
		.Diary_List li{ margin-bottom:15px !important; margin-bottom:12px;}
.Diary_Body{}
	.Diary_Title{}
		.Diary_Title_Left{ margin-right:0px !important; margin-right:-3px; width:0px; height:26px; float:left;}
		.Diary_Title_Middle{ height:26px; margin:0px 4px 0px 4px !important; margin:-14px 1px 0px 1px;}
		.Diary_Title_Right{ margin-left:0px !important; margin-left:-3px; width:0px; height:26px; float:right;}

		.Diary_Title_Text{ float:left; width:auto; margin:6px 0px 0px 5px !important; margin:6px 0px 0px 2px;}
		.Diary_Title_Date{ float:right; width:auto; margin:6px 8px 0px 0px !important; margin:6px 4px 0px 0px;}
	.Diary_Content{ padding:8px 10px 5px 10px;}
	.Diary_More{ padding:0px 10px 8px 10px;}
	.Diary_Line{ margin:0px 10px 0px 10px; height:1px;overflow:hidden;}

.Diary_Bottom{ padding:7px 10px 5px 10px; height:100%; overflow:auto;}
.Diary_Bottom_Left{ float:left;}
.Diary_Bottom_Right{ float:right;}
/*-- Diary_List_End --*/
/*-- Text_List --*/
.Text_Button_List{ margin:0px 6px 0px 6px;}
	.Text_Button_List ul{ margin:0px; padding:0px; list-style-type:none;}
		.Text_Button_List li{ padding:3px 5px 3px 5px !important; padding:3px 5px 4px 5px;}

.Text_List{ margin:0px 3px 0px 3px;}
	.Text_List ul{ margin:0px; padding:0px; list-style-type:none;}
		.Text_List li{ padding:0px 5px 0px 5px;}
		
.Text_List2{ margin:0px 3px 0px 3px;}
	.Text_List2 ul{ margin:0px; padding:0px; list-style-type:none;}
		.Text_List2 li{ padding:2px 5px 2px 5px;}
/*-- Text_List_End --*/

/*-- Picture_List --*/
.Picture_List{ margin-left:auto; margin-right:auto;height:100%; overflow:auto;}
	.Picture_List ul{ margin:0px; padding:0px; list-style-type:none;}
		.Picture_List li{ float:left; margin:2px 4px 2px 3px !important; margin:2px 2px 2px 3px; }
/*-- Picture_List_End --*/

/*----- List_End -----*/

/*----- Picture -----*/
.Picture{ padding:3px;}
/*-- Member_Box --*/
.Member_Box{}
.Member_Picture{ padding:3px; width:45px; height:59px;}
.Member_Name{}
/*-- Member_Box_End --*/
/*----- Picture_End -----*/

/*----- Line -----*/
.Line{ height:1px; overflow:hidden;}
/*----- Line_End -----*/

/*----- Button -----*/
.Button_Icon_Right{}
/*----- Button -----*/

/*----- Material -----*/
.Material_Name{ padding-top:3px !important;padding-top:0px;}
.Material_Text{ padding:10px 0px 10px 25px;}
.Material_Button{padding:10px 10px 20px 10px; height:30px;}
.Material_Button_Left{ float:left; width:auto;}
.Material_Button_Right{ float:right; width:auto;}
.Material_Button_Icon{margin-top:4px;}
.Material_Mail{ padding:5px 10px 5px 10px !important; padding:0px 10px 5px 10px;}

.Material_Set{ padding:10px;}

.Material_Text2_Title{ padding:10px 0px 0px 10px;}
.Material_Text2{ padding:0px 0px 10px 10px;}
/*----- Material_End -----*/

/*----- PageNo -----*/
.PageNo{ margin-top:8px !important; margin-top:-14px;}
	.PageNo ul{ margin:0px; padding:0px; list-style-type:none;}
		.PageNo li{ float:left; margin:3px;}
.PageNo_Bottom{clear:both;margin-bottom:-28px !important;margin-bottom:-20px;}
.PageNo_Button{padding-top:2px;}
.PageNo_Box{ width:16px; height:16px; padding:1px 0px 0px 1px !important; padding:1px 0px 0px 0px;}
.PageNo_Box_Selects{ width:16px; height:16px; padding:1px 0px 0px 1px !important; padding:1px 0px 0px 0px;}
/*----- PageNo_End -----*/

/*----- Album -----*/
.Album_Loading{ height:16px;}
.Album_List{ height:100%; overflow:auto;}
	.Album_List ul{ margin:0px; padding:0px; list-style-type:none; display:inline;}
		.Album_List li{ margin:10px; height:100%; width:120px; float:left; display:block;}
		.Album_List li a{width:auto !important; width:105px; height:88px; display: block; padding: 8px; text-decoration: none;}
		.Album_List_Picture{ width:60px; height:70px;}

.Image_List{ height:100%; overflow:auto; margin-left:auto; margin-right:auto;}
	.Image_List ul{ margin:0px; padding:0px; list-style-type:none; display:inline;}
		.Image_List li{ margin:5px 2px 5px 2px; height:100%; overflow:auto; width:118px; float:left; display:block; line-height:130% !important; line-height:200%;padding-top:5px;}
		.Image_List img{ padding:3px;}
	.Image_List_Edit{ width:88px; margin-left:auto; margin-right:auto; padding:5px 0px 4px 0px !important; padding:0px; margin-top:5px !important; margin-top:0px;}
	.Image_List_Edit img{}
	.Image_List_Edit a{ padding:0px !important; margin:0px !important;}
		
		.Image_List_Button{ width:auto !important;height:auto !important; text-align:center; margin:0px;padding-top:35px !important;  float:left;}
		.Image_List_Button_Sel{}

.Picture_Title{ margin-top:5px; height:50px;}
	.Picture_Title_Left{ width:160px; float:left;}
	.Picture_Title_Middle{ width:422px; float:left;}
		.Picture_Title_Text{ padding:5px;}
		.Picture_Title_Author{}
	.Picture_Title_Right{ width:160px; float:right; padding-top:18px;}

.Picture_Show{ margin-left:auto; margin-right:auto;width:688px;}
.Picture_Body{ width:688px; height:450px;}

.Picture_Text{ margin-left:auto; margin-right:auto;width:688px; padding:10px 0px 10px 0px;}
.Picture_Tag{ margin-left:auto; margin-right:auto;width:688px; padding:10px 0px 10px 0px;}

.Picture_Botton{ padding:0px 0px 0px 21px !important; padding:0px 0px 5px 19px; text-align:center; margin:10px 0px 10px 0px;}
.Picture_Botton_Pre{ width:34px; height:34px; margin-right:5px;}
.Picture_Botton_Next{ width:34px; height:34px; margin-left:5px;}
.Picture_SmallBotton_Pre{ width:26px; height:26px; margin-right:5px;}
.Picture_SmallBotton_Next{ width:26px; height:26px; margin-left:5px;}
/*----- Album_End -----*/

/*----- Article -----*/
.Article{ padding:0px 10px 0px 10px;}
.Article_Title{ margin:5px 0px 10px 0px; height:100%; overflow:auto;}
	.Article_Title_Text{ padding:5px;}
	.Article_Title_Date{}
	.Article_Title_TopButton{}
.Article_Text{padding:0px 0px 20px 0px;}
.Article_Bottom{ padding-bottom:10px;}
/*----- Article_End -----*/

/*----- Commentary -----*/
.Commentary_List{ margin:0px 10px 0px 10px; padding:0px 10px 10px 10px !important; padding:0px 10px 0px 10px; height:100%; overflow:auto;}
	.Commentary_List ul{ margin:0px; padding:0px; list-style-type:none;}
	.Commentary_List li{}
	.Commentary_Content{ margin:20px;; width:650px; height:100%; overflow:auto;}
		.Commentary_Content_Left{ float:left; width:70px;}
		.Commentary_Content_Right{ float:left; width:570px; margin-left:10px;}
			.Commentary_PageNo{margin:0px 20px 15px 20px !important; margin:35px 20px -40px 14px;}
			.Commentary_Content_Picture{ width:48px; height:63px; padding:2px;}
			.Commentary_Content_Name{margin-top:3px;}
			.Commentary_Content_Text{ margin:3px 0px 3px 0px; padding-left:3px;}
			.Commentary_Content_Quotation{ padding:3px 3px 1px 5px; margin-bottom:5px;}
			.Commentary_Content_Reply{ padding:3px 3px 1px 5px; margin-top:12px;}
			.Commentary_Content_Date{ padding-left:3px;}

.Commentary_Form{ margin:10px 10px 0px 10px; padding:15px 30px 15px 30px;}
	.Commentary_Form_MemberName{ margin-bottom:5px;}
	.Commentary_Form_Content{ margin-bottom:5px;} 
	.Commentary_Form_CheckCode{ margin-bottom:10px;}
	.Commentary_Form_Button{}

/*----- Commentary_End -----*/

/*----- Detail -----*/
.Detail_Body{ margin-left:20px; margin-right:20px; padding-bottom:10px; height:100%; overflow:auto;}
	.Detail_Title{}
		.Detail_Title_Left{ margin-right:0px !important; margin-right:-3px; width:0px; height:26px; float:left;}
		.Detail_Title_Middle{ height:26px; margin:0px 4px 0px 4px !important; margin:-14px 1px 0px 1px;}
		.Detail_Title_Right{ margin-left:0px !important; margin-left:-3px; width:0px; height:26px; float:right;}

		.Detail_Title_Text{ float:left; width:auto; margin:6px 0px 0px 5px !important; margin:6px 0px 0px 2px;}
		.Detail_Title_Set{ float:right; width:auto; margin:6px 8px 0px 0px !important; margin:6px 4px 0px 0px;}
	.Detail_Content{ height: 100%; overflow: auto;}
	.Detail_Content_Left{ float:left; width:280px; margin:0px 10px 0px 10px;}
	.Detail_Content_Right{ float:left; width:360px; margin:0px 10px 0px 10px;}
	.Detail_Content_Middle{ float:left; width:640px; margin:0px 10px 0px 10px;}
	.Detail_Content_List{}
		.Detail_Content_List ul{ margin:0px; padding:0px ; list-style-type:none;}
		.Detail_Content_List li{ display: block;  margin:5px 10px 5px 10px !important; margin:5px 0px 5px 0px; clear:both;}
		.Detail_Content_Text{ width:100%; padding:5px 0px 5px 0px !important; padding:0px; height:100%; overflow:auto;}
		.Detail_Content_Name{ width:90px; float:left; margin:2px;}
		.Detail_Content_Info{ float:left; margin:2px;}
		.Detail_Bottom_Text{ margin:5px 40px 0px 30px !important; margin:0px 40px 0px 30px;padding:10px;}
		.Detail_Right_Text{ padding:5px 10px 5px 10px;}
		
		.Detail_Left{ float:left; width:381px;}
		.Detail_Right{ float:right; width:381px;}
		
		.Detail_Text{}
		.Detail_Text_Title{ height:4px; font-size:0px;}
		.Detail_Text_Title_Left{ width:4px; height:4px; float:left; margin-right:0px !important; margin-right:-3px;}
		.Detail_Text_Title_Right{ width:4px; height:4px; float:right; margin-left:0px !important; margin-left:-3px;}
		.Detail_Text_Title_Middle{ height:4px;}
		
		.Detail_Text_Middle{ height:100%; overflow:auto;margin:0px -5px 0px -5px !important; margin:0px; padding:3px 10px 3px 10px;}

		.Detail_Text_Bottom{ height:4px; font-size:0px;}
		.Detail_Text_Bottom_Left{ width:4px; height:4px; float:left; margin-right:0px !important; margin-right:-3px;}
		.Detail_Text_Bottom_Right{ width:4px; height:4px; float:right; margin-left:0px !important; margin-left:-3px;}
		.Detail_Text_Bottom_Middle{ height:4px;}

/*----- Detail_End -----*/

/*----- Group -----*/
.Group_List{ height:100%; overflow:auto; margin-left:auto; margin-right:auto;}
	.Group_List ul{ margin:0px; padding:0px; list-style-type:none; display:inline;}
		.Group_List li{ margin:5px 10px 10px 10px !important; margin:5px 14px 10px 5px; width:212px; float:left; display:block; padding:5px;}
		.Group_List img{ padding:3px;}
		
	.Group_Info{ height:100%; overflow:auto;}
		.Group_Info dl{margin:0px !important;}
		.Group_Info dt{margin:0px !important; float:left;}
		.Group_Info dd{margin:0px 0px 0px 10px !important; float:left; line-height:160% !important; padding-top:3px;}
/*----- Group_End -----*/

/*----- Title -----*/
.Data_Title{ padding-bottom:3px; margin:10px 5px 0px 5px;}
/*----- Title_End -----*/


/*----- Calendar -----*/
.Calendar{height:100%; overflow:auto; text-align:center; padding:4px 0 4px 0;}
.Calendar ul{ margin:0px; padding:0px; list-style-type:none;}
.Calendar li{ padding:0px; float:left;}
.Calendar_Title{padding:2px 0px 2px 0px; margin-bottom:4px; height:100%; overflow:auto;}
/*----- Calendar_End -----*/

/*----- Article Relative -----*/
.Article_Relative{height:auto; width:100%; overflow:auto; text-align:left; margin:4px 0 4px 0;}
.Article_Relative_Title{height:auto;border-bottom:1px #CCCCCC solid; width:100%; padding:4px 0 4px 0; margin:0 0 6px 0;}
.Article_Relative_Title_Text{}
.Article_Relative_List{width:100%; height:auto;}
.Article_Relative_List ul{margin:0px; padding:0px; list-style-type:none;}
.Article_Relative_List ul li{margin:0px; padding:0px;}
/*----- Article Relative -----*/
.Material_Button_Tool{display:none;}

/*----- Div Css -----*/
.modalPopup {
	background-color:#ffffff;/*²ã±³¾°*/
	border-width:2px;/*²ã±ß¿òµÄ¿í¶È*/
	border-style:solid;
	border-color:#999999;
	padding:0px;
}
#BOX_overlay {
    position: absolute;
	z-index:100;
    top: 0px;
    left: 0px;
    background-color:#000;
    filter:alpha(opacity=74);
    -moz-opacity: 0.74;
    opacity: 0.74;
}

/*----- RightTop_Menu -----*/
.RightTop_Menu{position:absolute;width:100px;top:30px; right:77px; height:auto; font-family:Arial, Helvetica, sans-serif;}
	.RightTop_Menu img{border:0px; margin:0px 5px 0px 0px; *margin:0px 5px 0px -8px; _margin:0px 5px 0px -16px;}
	.RightTop_Menu ul{margin:0px; padding:0px; list-style:none; display:inline;}
	.RightTop_Menu li{margin:0px; padding:0px; text-align:left;}
	.RightTop_Menu li a{ padding:4px 10px 4px 8px; *padding:4px 0px 4px 0px; _padding:4px 10px 4px 8px ; display:block;}
	.RightTop_Menu li a:hover{ padding:4px 10px 4px 8px; *padding:4px 0px 4px 0px; _padding:4px 10px 4px 8px ;}

/*----- RightTop_Menu_End -----*/
